*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
header{
	width: 100%;
	background-color: #EC715F;
	height: 70px;
}
.header-text-box{
	width: 1024px;
	height: 70px;
	margin: 0 auto;
	position: relative;
}
.My-Site{
	height:70px;
	position: absolute;
	left: 0;
}
nav{
	height: 16px;
	position: absolute;
	right: 0;
	top: 27px;
}
.nav-list-item{
	font-size: 16px;
	margin: 0 30px;
	color: #FAFAFA;
	display: inline-block;
}
.main-visual{
	width: 100%;
	height: 650px;
}
.main-visual-content{
	height: 650px;
	background-image: url(img/mv.png);
	background-size: cover;
	text-align: center;
}
.mv-text-1{
	padding-top: 200px;
    font-size: 64px;
    color: #FAFAFA;
}
.mv-text-2{
	padding-top: 10px;
    font-size: 20px;
    color: #FAFAFA;
}
.portfolio{
	width: 100%;
	height: 881px;
	background-color: #ECEFF1;
}
.portfolio-content{
	width: 920px;
	margin: 0 auto;
	text-align: center;
}
.portfolio-title{
	font-size: 32px;
	color: #000000;
    padding-top: 90px;
    font-weight: bold;
}
.portfolio-border{
	width: 70px;
	height: 8px;
	border-bottom: solid 3px #EC715F;
	margin: 0 auto;
}
.portfolio-text{
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
	padding-bottom: 30px;
}
.portfolio-image-1{
	background-image: url(img/sketch.png);
	width: 300px;
	height: 250px;
	float: left;
	padding-right: 10px;
}
.portfolio-image-2{
	background-image: url(img/websuku.png);
	width: 300px;
	height: 250px;
	float: left;
	padding-right: 10px;
}
.portfolio-image-3{
	background-image: url(img/write.png);
	width: 300px;
	height: 250px;
	float: left;
}
.portfolio-image-4{
	background-image: url(img/webcamp.png);
	width: 300px;
	height: 250px;
	float: left;
	padding-right: 10px;
	padding-bottom: 90px;
}
.portfolio-image-5{
	background-image: url(img/talk.png);
	width: 300px;
	height: 250px;
	float: left;
	padding-right: 10px;
	padding-bottom: 90px;
}
.portfolio-image-6{
	background-image: url(img/webcamp-mother.png);
	width: 300px;
	height: 250px;
	padding-bottom:90px;
	float: left;
}
.feature{
	width: 100%;
	height: 703px;
}
.feature-content{
	width: 980px;
	margin: 0 auto;
	text-align: center;
}
.feature-title{
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	font-weight: bold;
}
.feature-border{
	width: 70px;
	height: 8px;
	border-bottom: solid 3px #EC715F;
	margin: 0 auto;
}
.feature-text{
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
	padding-bottom: 30px;
}
.feature-1, .feature-2, .feature-3{
	width: 320px;
	float: left;
	padding-right: 10px;
	padding-bottom: 90px;
}
.feature-content-title{
	font-size: 20px;
	color: #000000;
	font-weight: bold;
	padding: 10px 0;
}
.feature-icon{
	size: 60px;
	margin: 0 auto;
}
.feature-content-text{
	text-align: left;
}
.profile{
	width: 100%;
	height: 621px;
	background-color: #ECEFF1;
}
.profile-content{
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}
.profile-title{
	font-size: 32px;
	color: #000000;
	font-weight: bold;
	padding-top: 90px;
}
.profile-border{
    width: 70px;
    height: 8px;
    border-bottom: solid 3px #EC715F;
    margin: 0 auto;
}
.profile-text{
	font-size: 16px;
	color: #000000;
	padding-top: 30px;
}
.profile-content-image{
	width: 512px;
	height: 270px;
	padding-bottom: 90px;
	float: left;
}
.profile-image{
	width: 250px;
	height: 250px;
	border: 50%;
}
.profile-content-textfield{
	width: 512px;
	height: 270px;
	padding-bottom: 90px;
	float: left;
	text-align: left;
}
.profile-content-title{
	font-size: 20px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 5px;
}
.profile-content-text{
	font-size: 16px;
}